<!DOCTYPE html>
<html>
<head>
  <title>EJS Example</title>
</head>
<body>

   <ul>
    <% users.forEach(function(user) { %>
      <li>
        Name: <%= user.name %> | Age: <%= user.age %>
      </li>
    <% }) %>
  </ul>


</body>
</html>